main {
    position: relative;
}

body {
    background: rgb(148, 76, 76);
    background-image: url("salmonBackground.jpg");
    color: rgb(231, 223, 203);
    display: inline-block;
    margin: none;
    padding: none;
    height: 100%;
    width: 100%;
}


header {
    background: rgba(47, 79, 79, 0.719);
    border: 5px solid grey;
    display: inline-block;
    margin: none;
    text-align: center;
    width: 100%;
}

h1 {
    
}

h2 {
    margin: 5px;
}

form {
    background: rgba(47, 79, 79, 0.671);
    
}

label {
    background: rgba(47, 79, 79, 0.9);
    border-radius: 5px;
    display: inline-block;
    display: block;
    margin: 10px;
    padding: 5px;
    width: max-content;
    
}

div {
    border: 1px solid grey;
    margin: 5px;
}

table, tr, th, td {
    border: 2px solid black;
    text-align: center;
    /* color: darkslategrey; */
}

table {
    margin: 10px;
}

th {
    background: rgb(191, 220, 238);
}

th, td {
    height: 35px;
    width: 50px;
}

.displayLocations {
    background: rgba(47, 79, 79, 0.671);;
    border: 5px solid grey;
}

.tableDiv {
    background: rgba(228, 228, 207, 0.705);
    color: darkslategray;
}

.totaltotal {
    color: white;
    background-color: rgb(103, 134, 134);
}

