header {
    background: rgb(47, 79, 79);
    border-top: 2px solid rgba(150, 147, 147);
    border-bottom: 2px solid rgba(150, 147, 147);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
}

body {
    background: rgb(148, 76, 76);
    background-image: url("salmonBackground.jpg");
    color: rgb(231, 223, 203);
    padding: 0px;
    height: 1200px;
    position: relative;
}

main {
    display: block;
    margin: 0px;
    position: relative;
    top: 80px;
    left: -10px;
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

p {
    font-size: 15px;
    margin: 5px;
}

a {
    color: rgb(231, 223, 203);
    font-size: 30px;
}

ul {
    background: rgba(105, 105, 96, 0.733);
    border: 2px solid rgba(228, 228, 207, 0.35);
    border-radius: 7px;
    margin: 10px;
}

img.small {
    width: 100px;
}

img.med {
    width: 160px;
}

img.big {
    width: 220px;
}


img.resize {
    height: auto;
    padding: 5px;
}

.merch {
    border: 3px solid grey;
    border-radius: 5px;
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.menuList {
    font-size: 30px;
    list-style-type: decimal;
    overflow: hidden;
}

.menuLi {
    padding-left: 20px;
}

img.floatLeft {
    float: left;
}

h1 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

h2 {
    background: rgba(64, 107, 107, 0.9);
    border: solid none;
    border-radius: 5px;
    color: rgb(235, 231, 222);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}


/* styling for menu bar */
.menu {
    float: right;
}

.menuBar {
    color: rgb(231, 223, 203);
    display: inline;
    margin: 2px; 
}

.divider {
    border-left: 2px solid rgba(228, 228, 207, 0.705);
    display: inline;
}

/* content boxes */
.contentBox {
    background: rgba(47, 79, 79, 0.671);
    border: 2px solid rgba(150, 147, 147, 0.829);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.contentBlock {
    display: block;
    margin: 10px;
}

.column1 {
    float: left;
    width: 80%;
}

.column2 {
    float: left;
    width: 20%;
}

/* table styling for sales.html */
.tableDiv {
    background: rgba(228, 228, 207, 0.705);
    border: rgba(228, 228, 207, 0.705);
    border-radius: 10px;
    color: darkslategray;
}

.formDiv {
    font-size: 10;
    width: available;
}

.formDiv, .tableDiv {
    vertical-align: top;
}

tr, th, td {
    border: 2px solid black;
    font-size: 10px;
    text-align: center;
}

table {
    margin: 10px;
}

th {
    background: rgb(191, 220, 238);
    width: min-content;
}

td:hover {
    background: rgb(231, 162, 162);
}

th, td {
    height: 40px;
}

.totaltotal {
    color: white;
    background-color: rgb(103, 134, 134);
}

input.submitButton {
    background-color: grey;
    border-radius: 5px;
    margin-left: 55px;

}

input.submitButton:hover {
    background-color: salmon;
}

form {
    padding: 5px;
}

fieldset {
    padding: 5px;
}

label {
    background: rgba(228, 228, 207, 0.705);
    border: 2px solid black;
    border-radius: 5px;
    color: darkslategray;
    display: block;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: min-content;
}
